<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar bg-primary navbar-fixed-top">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="color:black;">Inventory Management</a>
                <a href="aboutus" class="navbar-brand" style="color:black;">About us</a>
                <a href="dashboard" class="navbar-brand" style="color:black;">Dashboard</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="signin" style="color:black;font-size:20px;">Sign out</a></li>
            </ul>           
    </nav>
    <br><br>

    {% block body %} {% endblock %}
</body>